<h1>All Employees</h1>


  <% @employees.each do |employee| %>
  <ul>
    <li><%= link_to employee.name, employee %></li>
  </ul>
  <% end %>

  <%= link_to "Create New Employee", new_employee_path %>
